.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(27, 27, 27, 0.64);
}

.modal-winner {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 50;
  font-size: 5rem;
  width: 100vw;
  height: 100vh;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  visibility: hidden;
  cursor: default;
  opacity: 0;
  transition: 0.3s;

  &--open {
    visibility: visible;
    opacity: 1;
  }
}